* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Game{
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  background: #fff;
}

.btn {
  background: #000;
  color: #fff;
  font-size: xx-large;
  height: 100px;
  width: 100px;
  /* border: 1px #fff solid; */
  cursor: pointer;
  transition: all 1s;
}

.btn:hover {
  background: #fff;
  color: #000;
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
}